

h3 {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

select{
    background-color: #113138;
    color: #bfbfbf;
}

.p-viewport {
    position: relative;
}

.p-sidebar {
    position: relative;
}

.p-button.p-button-faceless, .p-button.p-button-faceless:active, .p-button.p-button-faceless:focus, .p-button.p-button-faceless:hover {
    background-color: transparent;
    border: 0;
}

.p-button.p-button-faceless {
    min-width: 0;
    line-height: 1;
}
.p-sidebar-menu-button {
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px 20px;
    z-index: 30;
}

.p-button {
    padding: 0 35px;
    font-size: .875rem;
    text-align: center;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #dfe3e8;
    color: #627380;
    border: 1px solid #dfe3e8;
    -webkit-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -moz-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -o-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.p-sidebar-content {
    position: fixed;
    top: 0;
    right: -100%;
    padding: 60px 30px 0;
    width: 75%;
    height: 100vh;
    background-color: #f9f9f9;
    z-index: 40;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s cubic-bezier(.08,.69,.485,.99);
    -moz-transition: all .5s cubic-bezier(.08,.69,.485,.99);
    -o-transition: all .5s cubic-bezier(.08,.69,.485,.99);
    transition: all .5s cubic-bezier(.08,.69,.485,.99);
}
.p-container {
    margin: 0 auto;
    width: 90%;
}
.p-home-hero .p-hero {
    padding: 190px 0;
}
.p-hero {
    padding: 190px 0 60px;
    background: linear-gradient(            120deg            ,#e15656,#00091a);
    color: #fff;
    height: 234px;
}
.p-home-hero-live-demo-link {
    bottom: -107.5px;
    right: 0;
}
.p-home-hero-bars, .p-home-hero-bird, .p-home-hero-live-demo-link {
    position: absolute;
    -webkit-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -moz-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -o-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    transition: all .3s cubic-bezier(.08,.69,.485,.99);
}
.p-viewport .p-topbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.p-topbar {
    padding: 20px 0;
}

.p-row {
    margin: 0 -10px;
    zoom: 1;
}

.p-col-size-12 {
    width: 100%;
}


h1 {
    font-size: 2.25rem;
    letter-spacing: -1px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.p-hero p {
    margin-top: 20px;
    font-size: .875rem;
}
p {
    margin: 0;
    line-height: 1.5;
}
.p-home-hero-bars {
    bottom: -358px;
    left: 0;
    width: 80px;
}
.p-home-hero-bars, .p-home-hero-bird, .p-home-hero-live-demo-link {
    position: absolute;
    -webkit-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -moz-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -o-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    transition: all .3s cubic-bezier(.08,.69,.485,.99);
}

.p-home-hero-bird {
    top: -40px;
    right: 0;
    width: 726px;
    opacity: 1;
}
.p-home-hero-bars, .p-home-hero-bird, .p-home-hero-live-demo-link {
    position: absolute;
    -webkit-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -moz-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -o-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    transition: all .3s cubic-bezier(.08,.69,.485,.99);
}

.p-home-hero .p-github-button-widget {
    display: none;
    position: relative;
    top: 30px;
}

.p-github-button-widget.p-github-button-widget-visible .p-github-button-widget-link-container {
    opacity: 1;
}
.p-github-button-widget .p-github-button-widget-link-container {
    opacity: 0;
    -webkit-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -moz-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    -o-transition: all .3s cubic-bezier(.08,.69,.485,.99);
    transition: all .3s cubic-bezier(.08,.69,.485,.99);
}

.p-arrow-link {
    position: relative;
}

.p-section {
    padding: 28px 0;
}

.p-section.p-section-secondary {
    background-color: #f9f9f9;
}

.p-section h2 {
    scroll-margin-top: 40px;
}
.p-section-title {
    position: relative;
    margin-bottom: 75px;
    padding-bottom: 10px;
    font-size: 2.25rem;
    text-align: center;
    letter-spacing: -1px;
}

.p-recommendation-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px 20px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.flex{
    display: flex;
}
.pv0-l {
    display: flex;flex-direction: row;justify-content: space-around;
}
ul {
    margin: 0;
}
.p-section.p-section-secondary {
    background-color: #f9f9f9;
}

.p-topbar .p-link a {
    border: 0;
}
.p-menu a {
    font-size: 1.05rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
}

.p-logo {
    display: inline-block;
    width: 220px;
    height: 70px;
    background-position: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/static/logo.png);
}
.p-home-hero .p-container {
    position: relative;
}
.beian {
    font-size: .86rem;
    width: 100%; margin-top: 80px; display: flex;
}
a {
    color: #7f7f7f;
    display: inline-block;
    text-decoration: none;
}
.p-menu {
    margin-top: -18px;
}
.p-menu li {
    display: inline-block;
}
.p-col-size-12 {
    width: 100%;
}
.p-col {
    float: left;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.p-topbar .p-topbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-menu ul {
    margin: 0;
    padding: 0;
}

.p-features-list li {
    position: relative;
    margin-top: 0;
    /*padding-top: 50px;*/
}
.p-features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px 50px;
    margin: 0 auto;
    padding-left: 0;
    max-width: 1080px;
    text-align: center;
    list-style-type: none;
}
.p-section-title {
    position: relative;
    margin-bottom: 75px;
    padding-bottom: 10px;
    font-size: 2.25rem;
    text-align: center;
    letter-spacing: -1px;
}

.p-features-list .p-icon {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: #37f;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.p-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #333;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-repeat: no-repeat;
    mask-size: 100%;
}
.p-basic-usage {
    text-align: center;
}
.p-section.p-section-secondary {
    background-color: #f9f9f9;
}
.flex-column > ul > li {
    margin-top: 18px;
}
.flex-column > ul {
    display: flex;
    flex-direction: column;
}

.p-basic-usage-list {
    padding: 0;
    list-style-type: none;
}
.p-code, .p-pill {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.p-basic-usage .p-code, .p-basic-usage p {
    display: block;
    margin: 20px auto 0;
    max-width: 650px;
}
.p-basic-usage .p-code, .p-basic-usage p {
    display: block;
    margin: 20px auto 0;
    max-width: 650px;
}
.p-code, .p-pill {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.p-basic-usage .p-basic-usage-item+.p-basic-usage-item {
    margin-top: 100px;
}
.p-basic-usage-item{
    display: block !important;
}
.p-code {
    color: #7e7979;
    padding: 20px;
    background-color: #dfe3e8;
    font-family: PT Mono,monospace;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



