<div id="content" class="p-viewport col-md-12">
    <div class="p-topbar col-md-12 flex" style="justify-content: center">
        <div class="p-container" style="max-width: 1380px;">
            <div class="p-row">
                <div class="p-col-size-12">
                    <div class="p-topbar-content">
                        <span class="p-link"><a href="/" class="router-link-active">
                            <div class="p-logo"></div></a></span>
                        <nav class="p-menu">
                            <ul>
                                <li class="">
                                    <span class="p-link">
                        <a style='color:aliceblue;' href="https://liverun.cc/" target="_blank">LiveRun</a></span>
                                </li>
                                <li class=""><span class="p-link">
                        <a style='color:aliceblue;' href="/#features" target="_self">Features</a>
                      </span>
                                </li>

                                <li class=""><span class="p-link"><!---->
                        <a style='color:aliceblue;' href="/#basics" target="_self">Install</a>
                      </span>
                                </li>
                                <li class="">
                        <span class="p-link">
                        <a style='color:aliceblue;' target="_blank"
                           href="https://www.kancloud.cn/oshine/passerbyab/2121071"
                           class="">Document</a></span></li>
                                <li class="">
<!--                                    <a href="/">english</a>/<a href="/zh/">中文</a>-->

                                    <!--                                    <div class="languages">-->
                                    <!--                                        <select @change="changeLan('zh')">-->
                                    <!--                                            <option title="English (en-US)" value="en-US">English (en-US)</option>-->
                                    <!--                                            <option title="简体中文 (zh-CN)" value="zh-CN">简体中文 (zh-CN)</option>-->
                                    <!--                                        </select>-->
                                    <!--                                    </div>-->
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-home-hero col-md-12 p-hero" style="height: 600px;">
        <div class="">
            <div class="p-container">
                <div class="flex" style="justify-content: center">
                    <div class="col-md-9" style="position: relative;max-width: 1300px">
                        <h1>Write your story in a simpler programming language.</h1>
                        <p style="width:50%">It is so easy to do something with woo code as less as you can.</p>
<!--                        <p style="color: #13363c;font-size: .1rem;">People who are too kind will get mental illness,Will-->
<!--                            be-->
<!--                            eliminated by the world</p>-->

                        <iframe style="position: absolute;top: 10px;right: 0;width: 595px;height: 366px;border: 0px"
                                src="/index/code"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <section class="p-section">
            <h2 id="features" class="p-section-title">Features</h2>
            <div class="p-container">
                <div class="p-row">
                    <div class="p-col-size-12">
                        <ul class="p-features-list">
                            <li>
                                <!--                    <span class="p-icon p-icon-lightning"></span>-->
                                <h3> lighting </h3>
                                <p>The installation package is less than 15MB, does not rely on any third-party dynamic
                                    libraries, and the UNIX platform is only an executable file, clean and tidy, which
                                    is
                                    really simple but not simple</p>
                            </li>
                            <li>
                                <!--                            <span class="p-icon p-icon-cog" style="-webkit-mask-image: url('/images/icon-cog.svg');"></span>-->
                                <h3>Broad support</h3>
                                <p>
                                    It supports almost all PC platforms, including MAC (Darwin), windows UNIX (red hat /
                                    CentOS / Ubuntu / debain /...) to switch desktop systems at will
                                </p></li>
                            <li>
                                <!--                            <span class="p-icon p-icon-ball" style="-webkit-mask-image: url('/images/icon-ball.svg');"></span>-->
                                <h3>
                                    Independent packet manager
                                </h3>
                                <p>
                                    The official package management name of Woo program language is called：<a
                                        href="https://om.wooyri.com" target="_blank">om</a>
                                    om=woo manager，When an expansion pack needs to be installed：<br/>
                                    <span class="code">om install oshine/rename</span>
                                </p></li>
                            <li>
                                <!--                            <span class="p-icon p-icon-chart" style="-webkit-mask-image: url('images/icon-chart.svg');"></span>-->
                                <h3>
                                    PHP like programming
                                </h3>
                                <p>
                                    As we all know, many people say PHP is the best language. The reason is that a
                                    simple
                                    function can realize a complex function. So far, woo language also pays tribute to
                                    PHP
                                    and adds many global <a href="https://www.kancloud.cn/oshine/passerbyab/2125853"
                                                            target="_blank">functions</a> to achieve the purpose of
                                    writing
                                    programs quickly
                                </p></li>
                            <li>
                                <!--                            <span class="p-icon p-icon-tools" style="-webkit-mask-image: url(&quot;/images/icon-tools.svg&quot;);"></span>-->
                                <h3>
                                    Using Lua syntax
                                </h3>
                                <p>
                                    Woo language is developed by go. It uses Lua syntax and does not support all Lua
                                    features. It only supports about 95% of lua syntax. Therefore, you can directly use
                                    the
                                    idea editor when writing woo language. You can see the <a
                                        href="https://www.kancloud.cn/oshine/passerbyab/2123506">tutorial</a> for
                                    details
                                </p></li>
                            <li>
                                <h3>
                                    Unique inheritance characteristics
                                </h3>
                                <p>
                                    The woo program language also supports inheritance features and uses functions_
                                    Extend
                                    () can implement the inheritance function. Although it is inconsistent with the
                                    writing
                                    of many languages, the functions implemented are the same.
                                </p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-12">
        <section class="p-section p-section-secondary" style="">
            <h2 style="margin-top: 20px;" id="basics" class="p-section-title">Install</h2>
            <div class="p-container">
                <div class="p-row">
                    <div class="p-col-size-12">
                        <div class="p-basic-usage">
                            <ul class="p-basic-usage-list">
                                <li class="p-basic-usage-item">
                                    <span class="p-pill">linux / mac</span>
                                    <p> use curl command tools to install <i>woo</i></p>
                                    <code class="p-code">sudo curl -fsSL "https://liverun.cc/woo?v=1.1?" | bash</code>
                                </li>
                                <li class="p-basic-usage-item">
                                    <span class="p-pill"> windows(gitbash)</span>
                                    <p> windows need to install <a
                                            href="https://www.kancloud.cn/oshine/passerbyab/2040084#2windows_21">git
                                    </a></p>
                                    <p>
                                        <code class="p-code">
                                            curl -fsSL "https://liverun.cc/woo?v=1.1?" | bash
                                        </code>
                                    </p>
                                </li>
                                <li class="p-basic-usage-item">
                                    <span class="p-pill">in docker</span>
                                    <p> Use docker to install woo</p>
                                    <p>
                                        <code class="p-code">docker run -dit --name woo a364713478/woo</code>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="p-footer" style="padding: 30px 150px;">
        <p class="p-credits">
        <div class="flex flex-row-ns pv0-l">
            <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l" id="get-help">
                <h4>Get help</h4>
                <ul>
                    <li><a href="https://www.kancloud.cn/oshine/passerbyab/2121071">Document</a></li>
                    <li><a href="https://www.kancloud.cn/oshine/passerbyab/2462390">Strong 2D</a></li>
                    <li><a href="https://www.kancloud.cn/oshine/passerbyab/2125853">Funtions</a></li>
                    <li><a href="https://gitee.com/oshine/murphy">Web mvc framework</a></li>
                    <li><a href="https://gitee.com/oshine/dbdump">Sql dbdump tools</a></li>
                    <li><a href="https://gitee.com/oshine/woo_proxy">Socket4/5,http/s proxy</a></li>
                    <li><a href="https://gitee.com/oshine/data-syncer">data-syncer tools</a></li>
                </ul>
            </div>
            <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l">
                <h4>Programming
                </h4>
                <ul>
                    <li><a target="_blank" href="https://golang.google.cn/">golang</a></li>
                    <li><a target="_blank" href="https://www.python.org/">python</a></li>
                    <li><a target="_blank" href="https://www.php.net/">php</a></li>
                    <li><a target="_blank" href="https://nodejs.org/">nodeJs</a></li>
                    <li><a target="_blank" href="https://www.lua.org/">lua</a></li>
                    <li><a target="_blank" href="https://dotnet.microsoft.com/">.NET</a></li>
                    <li><a target="_blank" href="http://www.ruby-lang.org/">ruby</a></li>
                    <li><a target="_blank" href="https://www.perl.org/">perl</a></li>

                </ul>
            </div>
            <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l">
                <h4>Go somewhere
                </h4>
                <ul>
                    <li><a href="https://github.com/caixiaogua/jsgo" target="_blank">jsgo</a></li>
                    <li><a target="_blank" href="https://fofa.so/">fofa</a></li>
                    <li><a target="_blank" href="https://loveps4.com">Loveps4</a></li>
                    <li><a target="_blank" href="https://bz.zzzmh.cn/index">wallpaper</a></li>
                    <li><a target="_blank" href="https://tool.zzzmh.cn/">Tools for coder</a></li>


                </ul>
            </div>
            <div class="flex flex-column mw8 w-100 measure-wide-l pv2 pv5-m pv2-ns ph4-m ph4-l">
                <h4 style="margin-bottom:18px ">Cosmic level sponsorship
                </h4>
                <div class="flex flex-row flex-wrap">
                    <div style="width:200px;display: flex;align-items: center">
                        <a href="https://gitee.com/oshine/woo-home" target="_blank">
                            <img src="https://gitee.com/static/images/logo_gitee_dark.svg" style="width: 180px;"
                                 alt="twitter logo"
                                 title="Gitee"></a>
                        <a href="https://github.com/rhettli/woo-home" target="_blank">
                            <img src="https://www.rust-lang.org/static/images/github.svg" alt="github logo"
                                 style="width: 40px;"
                                 title="Github">
                        </a>
                    </div>

                </div>
            </div>

        </div>
        <div class="beian">
        </div>
    </footer>
</div>