<div check-reduce="" style="display: none;"><img
        src="https://res.wx.qq.com/op_res/dHtIRV4hVzWL3c2ZSXjoG1VcnRC3fENDSGIm_8hOS-9PWFTVVdbPfoGTaJnHJpFm"></div>
<div id="header" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement"
     class="head app_header">
    <div class="head__nav__container head__nav__container__transform__none head__nav__container__overflow-visible">
        <div class="head__nav__inner">
            <div class="head_box js_head_box">
                <div class="weui-desktop-head__inner">
                    <div check-reduce="" class="weui-desktop-head__inner_hd">
                        <div class="weui-desktop-layout">
                            <div class="weui-desktop-layout__side"><h1 class="weui-desktop-logo"><a
                                    href="/community/homepage" title="微信开放社区" class="logo_mp"><img
                                    src="https://res.wx.qq.com/community/dist/community/images/communitySvgLogo_4dc945.svg"
                                    style="width: 100%; height: 100%;"></a></h1></div>
                        </div><!----></div>
                    <div class="header_ctrls js_header_ctrls">
                        <div class="header_ctrls_extend"><!---->
                            <div class="header_ctrls_meta header_ctrls_meta_navigation">
                                <dl class="header_navigation_box"><a
                                        href="https://developers.weixin.qq.com/community/search"
                                        class="icon_mobile_search_global for_pc"></a>
                                    <dt class="header_navigation_box_header wxapp">小程序</dt>
                                    <dd class="header_navigation_box_body" style="display: none;"><!---->
                                        <ul class="header_navigation_box_item_box">
                                            <li class="header_navigation_box_item header_navigation_box_item_orientation">
                                                <dl class="header_navigation_box_item_list">
                                                    <dt class="header_navigation_box_item_list_title">常用主页</dt>
                                                    <dd class="header_navigation_box_item_list_item"><a
                                                            href="/community"
                                                            class="header_navigation_box_item_list_item_inner header_navigation_box_item_list_item_wxapp"><span
                                                            class="header_navigation_box_item_list_item_icon"></span>
                                                        <p class="header_navigation_box_item_list_item_desc">小程序</p>
                                                    </a><a href="/community/minigame"
                                                           class="header_navigation_box_item_list_item_inner header_navigation_box_item_list_item_minigame"><span
                                                            class="header_navigation_box_item_list_item_icon"></span>
                                                        <p class="header_navigation_box_item_list_item_desc">小游戏</p>
                                                    </a><a href="/community/enterprisewechat"
                                                           class="header_navigation_box_item_list_item_inner header_navigation_box_item_list_item_wxenterprise"><span
                                                            class="header_navigation_box_item_list_item_icon "></span>
                                                        <p class="header_navigation_box_item_list_item_desc">
                                                            企业微信</p></a><a href="/community/pay"
                                                                           class="header_navigation_box_item_list_item_inner header_navigation_box_item_list_item_wxpay"><span
                                                            class="header_navigation_box_item_list_item_icon header_navigation_box_item_list_item_pay"></span>
                                                        <p class="header_navigation_box_item_list_item_desc">
                                                            微信支付</p></a></dd>
                                                    <dd class="header_navigation_box_item_list_item"><span
                                                            class="header_navigation_box_item_list_item_inner"></span><span
                                                            class="header_navigation_box_item_list_item_inner"></span><span
                                                            class="header_navigation_box_item_list_item_inner"></span><span
                                                            class="header_navigation_box_item_list_item_inner"></span>
                                                    </dd>
                                                    <dd class="header_navigation_box_item_list_item"><span
                                                            class="header_navigation_box_item_list_item_inner"></span><span
                                                            class="header_navigation_box_item_list_item_inner"></span><span
                                                            class="header_navigation_box_item_list_item_inner"></span><span
                                                            class="header_navigation_box_item_list_item_inner"></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li check-reduce=""
                                                class="header_navigation_box_item header_navigation_box_item__with-list">
                                                <a href="/community/ngi/getLoginSwitchCode?redirect_url=https%3A%2F%2Ffuwu.weixin.qq.com"
                                                   target="_blank" class="header_navigation_box_item_inner">
                                                    <dl class="header_navigation_box_item_list">
                                                        <dt class="header_navigation_box_item_list_title">服务平台</dt>
                                                    </dl>
                                                </a><a href="/community/business" target="_blank"
                                                       class="header_navigation_box_item_inner">
                                                <dl class="header_navigation_box_item_list">
                                                    <dt class="header_navigation_box_item_list_title">微信学堂</dt>
                                                </dl>
                                            </a><a itemprop="url" target="_blank"
                                                   href="https://developers.weixin.qq.com/miniprogram/dev/framework/"
                                                   class="header_navigation_box_item_inner">
                                                <dl class="header_navigation_box_item_list">
                                                    <dt class="header_navigation_box_item_list_title">文档</dt>
                                                </dl>
                                            </a></li>
                                            <li class="header_navigation_box_item"><a
                                                    href="/community/personal/oCJUsw4DvlwaI5-sw6mQoVkq6SNY"
                                                    target="_blank" class="header_navigation_box_item_inner">
                                                <dl class="header_navigation_box_item_list">
                                                    <dt class="header_navigation_box_item_list_title">我的帐号</dt>
                                                </dl>
                                            </a><a href="/community/notify" target="_blank"
                                                   class="header_navigation_box_item_inner">
                                                <dl class="header_navigation_box_item_list">
                                                    <dt class="header_navigation_box_item_list_title">消息</dt>
                                                </dl>
                                            </a></li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div><!---->
                            <div class="dib" check-reduce="" id="user-bar"
                                 data-openid="oCJUsw4DvlwaI5-sw6mQoVkq6SNY" data-nickname="woo语言">
                                <div class="header_ctrls_meta top_notice_box header_adjust_height"><a
                                        href="javascript:;"
                                        class="account_inbox_switch js_notice_box_switch notify_target"><i
                                        class="icon_inbox notify_target"></i><!----></a>
                                    <div class="account_message_box skin_pop js_account_notice_box notify_target"
                                         style="display: none;">
                                        <div class="skin_pop_inner account_message_box_inner">
                                            <div class="account_message_box_hd global_mod">
                                                <div class="global_info global_info_item global_info_notice active">
                                                    <span class="icon_notice_tab icon_notice_tab_active"></span>
                                                    <!----></div>
                                                <div class="global_info global_info_item global_info_private"><span
                                                        class="icon_like_tab"></span><span class="unread-tag-small"
                                                                                           style="display: none;"></span>
                                                </div>
                                            </div>
                                            <div class="account_message_box_bd">
                                                <ul class="account_message_list js_message_list">
                                                    <li class="account_message_list_empty">暂无消息</li>
                                                </ul>
                                                <ul class="account_private_list" style="display: none;">
                                                    <li class="account_message_list_empty">暂无消息</li>
                                                </ul>
                                            </div>
                                            <div class="skin_pop_ft account_message_box_ft"><a href="javascript:;">查看全部消息</a>
                                            </div>
                                        </div>
                                        <i class="icon_skin_pop_arrow account_message_arrow"></i></div>
                                </div>
                                <div class="header_ctrls_meta top_personal_msg_box"><a href="javascript:;"
                                                                                       class="personal_msg_switch"><i
                                        class="icon_personal_inbox"></i><!----></a>
                                    <div class="account_message_box skin_pop js_account_notice_box private_target"
                                         style="display: none;">
                                        <div class="skin_pop_inner account_message_box_inner">
                                            <div class="account_message_box_hd global_mod">我的私信</div>
                                            <div class="account_message_box_bd">
                                                <ul class="account_private_list">
                                                    <li class="account_message_list_empty">暂无私信</li>
                                                </ul>
                                            </div>
                                            <div class="skin_pop_ft account_message_box_ft"><a href="javascript:;">查看全部私信</a><a
                                                    href="/community/set/reminder" target="_blank"><img
                                                    src="https://res.wx.qq.com/community/dist/community/images/setting_321b3c.svg"
                                                    alt="" style="float: right;"></a></div>
                                        </div>
                                        <i class="icon_skin_pop_arrow account_message_arrow"></i></div>
                                </div>
                                <div class="header_ctrls_meta top_user_box"><a
                                        href="/community/personal/oCJUsw4DvlwaI5-sw6mQoVkq6SNY"
                                        class="top_user_switch"><img
                                        src="https://wx.qlogo.cn/mmhead/WPeaxqfXnx5Ye9fiaJyYicVlRbjhFHMbPmHuImILl67N4/0"
                                        alt="" class="user_avatar"></a>
                                    <div class="skin_pop">
                                        <div class="skin_pop_inner">
                                            <div class="skin_pop_bd__section">
                                                <div class="skin_pop_bd"><a
                                                        href="/community/personal/oCJUsw4DvlwaI5-sw6mQoVkq6SNY"
                                                        title="woo语言" target="_blank"
                                                        class="skin_pop_bd__container user_name">我的主页</a></div>
                                                <!---->
                                                <div class="skin_pop_bd"><a
                                                        href="/community/ngi/getLoginSwitchCode?redirect_url=https%3A%2F%2Ffuwu.weixin.qq.com%2Fpurchased%2Fmanage%2Forderlist&amp;overwrite=1"
                                                        target="_blank" class="user_name">我的购买</a></div>
                                            </div>
                                            <div class="skin_pop_bd__section">
                                                <div class="skin_pop_bd"><a href="javascript:;"
                                                                            class="skin_pop_bd__container">切换帐号</a>
                                                </div>
                                                <div class="skin_pop_bd"><a href="javascript:;" id="logout"
                                                                            class="skin_pop_bd__container">退出登录</a>
                                                </div>
                                            </div>
                                        </div>
                                        <i class="icon_skin_pop_arrow"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!----></div>
    </div>
    <div class="sub__nav sub__nav____headSub" id="SubNav">
        <div check-reduce="" class="block_nav_wrp">
            <div class="block_nav_wrp_cont"><!----><!---->
                <div class="block_nav_plate_extend favlist_manage_icon"></div><!---->
                <div class="search_hold"></div><!----></div>
        </div><!----></div>
</div>
<div id="body" class="body page_simple" style="min-height: 946px;">
    <div class="container_box">
        <div id="article_frame" class="search_posts_area common_area">
            <div class="search_posts_area_head">
                <div class="search_posts_area_head_main">
                    <div class="search_posts_area__search for_pc">
                        <div class="js_search_header_box header_ctrls_meta top_search_box top_search_box__extend"><a
                                href="javascript:;" class="js_search_btn search_switch"><i
                                class="icon_search"></i></a><span
                                class="js_input_box search_input_box active"><input type="text"
                                                                                    placeholder="搜索你要的内容"
                                                                                    class="js_input"><a
                                href="javascript:;" class="js_clear icon12_common close_gray"></a></span><!---->
                        </div>
                    </div>
                    <div class="search_posts_area__search__container for_mobile">
                        <div class="search_posts_area__search">
                            <div class="mod_search-bar">
                                <div id="searchBar" class="weui-search-bar">
                                    <form class="weui-search-bar__form">
                                        <div class="weui-search-bar__box"><i class="weui-icon-search"></i><input
                                                type="text" placeholder="搜索" class="weui-search-bar__input"><a
                                                href="javascript:" id="searchClear" class="weui-icon-clear"></a>
                                        </div>
                                    </form>
                                    <a href="javascript:" id="searchCancel"
                                       class="weui-search-bar__cancel-btn">取消</a><!----></div>
                                <a href="javascript:;" class="search_posts_area__search__extend">搜索</a></div>
                        </div>
                    </div>
                    <div class="title_tab_wrp title_tab search_tab">
                        <ul class="tab_navs title_tab js_tabs">
                            <li data-tab="0" class="tab_nav first selected"><a href="javascript:;">所有</a></li>
                            <li data-tab="1" class="tab_nav"><a href="javascript:;">小程序</a></li>
                            <li data-tab="2" class="tab_nav"><a href="javascript:;">小游戏</a></li>
                            <li data-tab="3" class="tab_nav"><a href="javascript:;">微信支付</a></li>
                            <li data-tab="4" class="tab_nav"><a href="javascript:;">企业微信</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search_posts_area_body">
                <div class="search_posts_area_body__head"><p class="search_posts_area_body__head__main">4432 条结果</p>
                    <span class="popover__box search_posts_area_body__head_expert_area popover__box_hide"
                          check-reduce=""><!----><span class="popover_target"><a href="javascript:;"
                                                                                 class="filter_expert_target">筛选</a></span></span>
                </div>
                <div class=" search_posts_content">
                    <div class="result-wrp">
                        <ul id="search_article_list" class="post_list">
                            <li id="0006ecdd72cdc8f240ab9951e5b409" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/doc/0006ecdd72cdc8f240ab9951e5b409?highLine=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597"
                                        class="search__title__inner" target="_blank"><span title="微信官方用户"
                                                                                           class="community_search_docitem_tip">官方</span><span
                                        itemprop="name">什么是<span class="hightline">付款</span>码支付？</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/doc/0006ecdd72cdc8f240ab9951e5b409?highLine=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597">
                                    <!----></h2>
                                <p itemprop="text" class="post_content">
                                    通过公众服务号商户申请成功，支付接口已获得，可根据开发文档进行开发，&nbsp;实现<span class="hightline">付款</span>码支付，具体开发文档，请登录商户平台-右上角开发文档查看【点这里】查看。
                                </p>
                                <div class="post_info"><span class="post_group post_info_meta">知识库</span><span
                                        class="post_group post_info_meta" style="display: none;">02-01</span><strong
                                        class="post_owner post_info_meta">微信团队</strong>
                                    <meta check-reduce="" itemprop="name" content="微信团队">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>1</span></div>
                                <div id="https://developers.weixin.qq.com/doc/offiaccount/Cards_and_Offer/gift_card.html#10.1、用户购买礼品卡付款成功CallBack"
                                     class="community_search_docitem"><a
                                        href="https://developers.weixin.qq.com/doc/search.html?query=付款吗&amp;doc_type=all"
                                        target="_blank" class="community_search_docitem_result"
                                        style="display: block;">微信官方文档搜索结果</a><a
                                        href="https://developers.weixin.qq.com/doc/offiaccount/Cards_and_Offer/gift_card.html#10.1、用户购买礼品卡付款成功CallBack"
                                        target="_blank"
                                        style="display: block; margin-top: 32px; margin-bottom: 8px;"><span
                                        class="community_search_docitem_tip">官方</span><span
                                        class="community_search_docitem_title">10.1、用户购买礼品卡<em>付款</em>成功CallBack</span></a>
                                    <p class="community_search_docitem_content">协议请求参数说明：参数 说明 ToUserName
                                        接收该事件的公众号原始id FromUserName 事件发起人，该事件中标识下单购买人的openid CreateTime 事件创建时间
                                        Msg</p>
                                    <div class="result__bread-crumb"><span class="bread-crumb__item"><a
                                            href="https://developers.weixin.qq.com/doc/offiaccount/Getting_Started/Overview.html"
                                            class="bread-crumb__link">公众号</a><span
                                            class="arrow-right">&gt;</span></span><span class="bread-crumb__item"><a
                                            href="https://developers.weixin.qq.com/doc/offiaccount/Cards_and_Offer/WeChat_Coupon_Interface.html"
                                            class="bread-crumb__link">微信卡券</a><span
                                            class="arrow-right">&gt;</span></span><span
                                            class="bread-crumb__item"><a
                                            href="https://developers.weixin.qq.com/doc/offiaccount/Cards_and_Offer/gift_card.html"
                                            class="bread-crumb__link">微信礼品卡</a><span
                                            class="arrow-right">&gt;</span></span>
                                    </div>
                                </div>
                            </li>
                            <li id="000ca204458a589f549b5b9965b009" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/doc/000ca204458a589f549b5b9965b009?highLine=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597"
                                        class="search__title__inner" target="_blank"><span title="微信官方用户"
                                                                                           class="community_search_docitem_tip">官方</span><span
                                        itemprop="name">企业<span class="hightline">付款</span>到零钱调用”企业<span
                                        class="hightline">付款</span>“返回：SYSTEMERROR</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/doc/000ca204458a589f549b5b9965b009?highLine=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597">
                                    <!----></h2>
                                <p itemprop="text" class="post_content">请先调用查询接口，查看此次<span
                                        class="hightline">付款</span>结果，如结果为不明确状态（如订单号不存在），请务必使用原商户订单号进行重试</p>
                                <div class="post_info"><span class="post_group post_info_meta">知识库</span><span
                                        class="post_group post_info_meta" style="display: none;">01-21</span><strong
                                        class="post_owner post_info_meta">微信团队</strong>
                                    <meta check-reduce="" itemprop="name" content="微信团队">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>0</span></div><!----></li>
                            <li id="000c6084e44d1059b76b676b751809" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/doc/000c6084e44d1059b76b676b751809?highLine=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597"
                                        class="search__title__inner" target="_blank"><span title="微信官方用户"
                                                                                           class="community_search_docitem_tip">官方</span><span
                                        itemprop="name">如何判断企业<span class="hightline">付款</span>接口是否成功？</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/doc/000c6084e44d1059b76b676b751809?highLine=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597">
                                    <!----></h2>
                                <p itemprop="text" class="post_content"><span class="hightline">付款</span>接口返回SUCCESS&nbsp;，不代表已经<span
                                        class="hightline">付款</span>成功。需要用查询接口：status参数进行最终判断。处理中一般指<span
                                        class="hightline">付款</span>还在进行处理，需要一定的时间。...如果是银行卡<span
                                        class="hightline">付款</span>到账实效为1-3日，最快次日到账，到零钱一般是15分钟左右。...极少情况下会出现订单一直处于处理中的状态，此时建议商户使用原<span
                                        class="hightline">付款</span>单号重试或等待到第13日如订单还是处于处理中的状态则该笔订单<span
                                        class="hightline">付款</span>失败。</p>
                                <div class="post_info"><span class="post_group post_info_meta">知识库</span><span
                                        class="post_group post_info_meta"
                                        style="display: none;">2020-12-18</span><strong
                                        class="post_owner post_info_meta">微信团队</strong>
                                    <meta check-reduce="" itemprop="name" content="微信团队">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>0</span></div><!----></li>
                            <li id="000ee8684ecb9873061cd257651813" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/article/doc/000ee8684ecb9873061cd257651813"
                                        class="search__title__inner" target="_blank"><!----><span itemprop="name">微信支付商户经营工具-「企业<span
                                        class="hightline">付款</span>到零钱」产品介绍及开通使用过程中的问题说明</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/article/doc/000ee8684ecb9873061cd257651813">
                                    <!----></h2>
                                <p itemprop="text" class="post_content">1、功能说明

                                    企业<span class="hightline">付款</span>到零钱是一种由微信支付商户号直接付钱至用户微信零钱的能力，资金到账速度快，使用及查询方便，主要用来解决合理的商户对用户<span
                                            class="hightline">付款</span>需求，支持平台操作及接口调用两种方式。...产品特点

                                    免费：不收取<span class="hightline">付款</span>手续费，节省企业成本。
                                    灵活：可通过页面或接口发起<span class="hightline">付款</span>，灵活满足企业不同场景的<span
                                            class="hightline">付款</span>需求。
                                    友好：通过openid即可实现<span class="hightline">付款</span>，用户授权即可，体验更好。...如：按需调整<span
                                            class="hightline">付款</span>额度；支持收款账户限制；支持安全防刷，拦截恶意用户、小号、机器号码；支持自定义大额通知等。...，所有<span
                                            class="hightline">付款</span>来源加总限制（商户平台&amp;接口）：

                                    1）<span class="hightline">付款</span>给同一个用户（实名用户）：单日、单笔上限：2W元（单笔最多2W，当日最多也２W）；
                                    2）日<span class="hightline">付款</span>总金额：100W元 ；
                                    3）单笔<span class="hightline">付款</span>最低额度：...0.3元（范围：企业<span
                                            class="hightline">付款</span>api、商户平台企业<span
                                            class="hightline">付款</span>）
                                    备注：开发文档的链接：https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?</p>
                                <div class="post_info"><span class="post_group post_info_meta">文章</span><span
                                        class="post_group post_info_meta" style="display: none;">04-28</span><!---->
                                    <meta check-reduce="" itemprop="name">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>25</span></div><!----></li>
                            <li id="000c22c06b0bf0d244ab80f9d51809" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/doc/000c22c06b0bf0d244ab80f9d51809?highLine=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597"
                                        class="search__title__inner" target="_blank"><span title="微信官方用户"
                                                                                           class="community_search_docitem_tip">官方</span><span
                                        itemprop="name">服务商奖励金<span class="hightline">付款</span>方式</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/doc/000c22c06b0bf0d244ab80f9d51809?highLine=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597">
                                    <!----></h2>
                                <p itemprop="text" class="post_content">服务商奖励金<span class="hightline">付款</span>方式有两种：1.全额<span
                                        class="hightline">付款</span>使用全额<span class="hightline">付款</span>的商户，在确认完金额后，需先向微信支付寄送发票。...微信支付在收到发票核对无误后的45个工作日内向服务商完成打款；2.快速<span
                                        class="hightline">付款</span>开通快速<span class="hightline">付款</span>后，服务商确认金额后，微信支付会在15个工作日内向服务商发放70%的奖励金额，并在收到服务商的发票后完成剩下30%的打款...，商户平台可以查询<span
                                        class="hightline">付款</span>进度。</p>
                                <div class="post_info"><span class="post_group post_info_meta">知识库</span><span
                                        class="post_group post_info_meta" style="display: none;">02-01</span><strong
                                        class="post_owner post_info_meta">微信团队</strong>
                                    <meta check-reduce="" itemprop="name" content="微信团队">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>0</span></div><!----></li>
                            <li id="000842e33203f0546fbc51bf459413" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/article/doc/000842e33203f0546fbc51bf459413"
                                        class="search__title__inner" target="_blank"><!----><span itemprop="name">微信支付企业<span
                                        class="hightline">付款</span>到零钱提额指引</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/article/doc/000842e33203f0546fbc51bf459413">
                                    <!----></h2>
                                <p itemprop="text" class="post_content">说明

                                    根据相关规定，商户在申请提升<span class="hightline">付款</span>额度时，需说明具体的<span
                                            class="hightline">付款</span>用途和场景。请参考本指引提供材料进行提额申请。...-邮箱地址：WeChatPayFunds@tencent.com
                                    邮件标题：【企业<span class="hightline">付款</span>到零钱提额申请】-商户简称
                                    正文内容：
                                    1、商户号
                                    2、商户名称
                                    附件内容：
                                    企业<span class="hightline">付款</span>到零钱提额申请表
                                    请将附件命名为...“【企业<span class="hightline">付款</span>到零钱提额申请表】-商户简称-日期”，例如“【企业<span
                                            class="hightline">付款</span>到零钱提额申请表】-腾讯科技-20210907”
                                    申请说明和示例
                                    对于申请表的填写请参考以下说明和示例，按要求填写。...第一部分：基础申请信息（必填）
                                    1)、商户号
                                    示例：1901001234
                                    2)、商户名称
                                    示例：
                                    商户全称：****科技有限公司
                                    商户简称：**生活
                                    3)、<span class="hightline">付款</span>场景
                                    说明：请参考以下分类，选择最适合实际<span class="hightline">付款</span>场景的分类...示例：
                                    <span class="hightline">付款</span>给用户-线上现金营销
                                    4)、<span class="hightline">付款</span>原因说明
                                    说明：对所选<span class="hightline">付款</span>场景进行详细阐述，包括<span
                                            class="hightline">付款</span>原因以及<span class="hightline">付款</span>的业务流程。
                                    示例：本公司经营在线充值卡回收业务，主要品牌为“XXX"。</p>
                                <div class="post_info"><span class="post_group post_info_meta">文章</span><span
                                        class="post_group post_info_meta" style="display: none;">09-07</span><!---->
                                    <meta check-reduce="" itemprop="name">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>3</span></div><!----></li>
                            <li id="00022646eac860baa42c715d65b013" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/article/doc/00022646eac860baa42c715d65b013"
                                        class="search__title__inner" target="_blank"><!----><span
                                        itemprop="name">小程序调起<span
                                        class="hightline">付款</span>码相关疑问</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/article/doc/00022646eac860baa42c715d65b013">
                                    <!----></h2>
                                <p itemprop="text" class="post_content">小程序调起<span class="hightline">付款</span>码【支持模式】该功能目前支持直连模式，间连模式。【业务交互图】一、开通小程序内拉起微信<span
                                        class="hightline">付款</span>码，这个要走什么流程？...解决方案：先找对应BD（服务每个公司对应的腾讯运营同事，如果没有该权限则不支持接入）先申请权限，然后会提供对应文档二、小程序调起<span
                                        class="hightline">付款</span>码报错“openOfflinePayView:fail”或者“签名错误</p>
                                <div class="post_info"><span class="post_group post_info_meta">文章</span><span
                                        class="post_group post_info_meta" style="display: none;">05-19</span><!---->
                                    <meta check-reduce="" itemprop="name">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>7</span></div><!----></li>
                            <li id="0006c01659031093836c4005a5b413" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/article/doc/0006c01659031093836c4005a5b413"
                                        class="search__title__inner" target="_blank"><!----><span itemprop="name">小程序 云开发 企业<span
                                        class="hightline">付款</span>到零钱</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/article/doc/0006c01659031093836c4005a5b413">
                                    <!----></h2>
                                <p itemprop="text" class="post_content">提现走到了函数",event)&nbsp; const api =
                                    tenpay.init(config);&nbsp; var tixian = event.tixian&nbsp; // 申请企业<span
                                            class="hightline">付款</span>到用户零钱</p>
                                <div class="post_info"><span class="post_group post_info_meta">文章</span><span
                                        class="post_group post_info_meta" style="display: none;">07-07</span><!---->
                                    <meta check-reduce="" itemprop="name">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>8</span></div><!----></li>
                            <li id="000c0259a746f833b3bcc921c56c13" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/article/doc/000c0259a746f833b3bcc921c56c13"
                                        class="search__title__inner" target="_blank"><!----><span
                                        itemprop="name">微信扫码<span
                                        class="hightline">付款</span>给商户被骗</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/article/doc/000c0259a746f833b3bcc921c56c13">
                                    <!----></h2>
                                <p itemprop="text" class="post_content"></p>
                                <div class="post_info"><span class="post_group post_info_meta">文章</span><span
                                        class="post_group post_info_meta" style="display: none;">09-11</span><!---->
                                    <meta check-reduce="" itemprop="name">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>7</span></div><!----></li>
                            <li id="0002e8edb24aa08c92ec2e5d854413" itemscope="itemscope"
                                itemtype="https://schema.org/CreativeWork" class="post_item post_overview">
                                <h2 class="post_title"><a
                                        href="/community/develop/article/doc/0002e8edb24aa08c92ec2e5d854413"
                                        class="search__title__inner" target="_blank"><!----><span
                                        itemprop="name"><span class="hightline">付款</span>到零钱功能无法开通?（已满足90天，并且保持30天连续交易。）</span></a>
                                    <meta check-reduce="" itemprop="url"
                                          content="https://developers.weixin.qq.com/community/develop/article/doc/0002e8edb24aa08c92ec2e5d854413">
                                    <!----></h2>
                                <p itemprop="text" class="post_content"></p>
                                <div class="post_info"><span class="post_group post_info_meta">文章</span><span
                                        class="post_group post_info_meta" style="display: none;">10-18</span><!---->
                                    <meta check-reduce="" itemprop="name">
                                    <span class="post_discuss_num post_info_meta"><i
                                            class="icon_post_opr discuss"></i>5</span></div><!----></li>
                        </ul>
                        <div class="pagination_wrp pagination_pos_right">
                            <div class="pagination"><span class="page_nav_area"><!----><a
                                    href="/community/search?query=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;block=0&amp;blogcategory=0&amp;sort=0&amp;time=0&amp;starttime=&amp;endtime=&amp;type%5Bquery%5D=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;type%5Bblogcategory%5D=0&amp;type%5Bsort%5D=0&amp;type%5Btime%5D=0&amp;type%5Bstarttime%5D=&amp;type%5Bendtime%5D=&amp;type%5Bblock%5D=0&amp;type%5Bpage%5D=1&amp;page=1"
                                    class="page_nav  current">1</a><!----><a
                                    href="/community/search?query=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;block=0&amp;blogcategory=0&amp;sort=0&amp;time=0&amp;starttime=&amp;endtime=&amp;type%5Bquery%5D=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;type%5Bblogcategory%5D=0&amp;type%5Bsort%5D=0&amp;type%5Btime%5D=0&amp;type%5Bstarttime%5D=&amp;type%5Bendtime%5D=&amp;type%5Bblock%5D=0&amp;type%5Bpage%5D=1&amp;page=2"
                                    class="page_nav ">2</a><a
                                    href="/community/search?query=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;block=0&amp;blogcategory=0&amp;sort=0&amp;time=0&amp;starttime=&amp;endtime=&amp;type%5Bquery%5D=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;type%5Bblogcategory%5D=0&amp;type%5Bsort%5D=0&amp;type%5Btime%5D=0&amp;type%5Bstarttime%5D=&amp;type%5Bendtime%5D=&amp;type%5Bblock%5D=0&amp;type%5Bpage%5D=1&amp;page=3"
                                    class="page_nav ">3</a><a
                                    href="/community/search?query=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;block=0&amp;blogcategory=0&amp;sort=0&amp;time=0&amp;starttime=&amp;endtime=&amp;type%5Bquery%5D=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;type%5Bblogcategory%5D=0&amp;type%5Bsort%5D=0&amp;type%5Btime%5D=0&amp;type%5Bstarttime%5D=&amp;type%5Bendtime%5D=&amp;type%5Bblock%5D=0&amp;type%5Bpage%5D=1&amp;page=4"
                                    class="page_nav ">4</a><a
                                    href="/community/search?query=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;block=0&amp;blogcategory=0&amp;sort=0&amp;time=0&amp;starttime=&amp;endtime=&amp;type%5Bquery%5D=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;type%5Bblogcategory%5D=0&amp;type%5Bsort%5D=0&amp;type%5Btime%5D=0&amp;type%5Bstarttime%5D=&amp;type%5Bendtime%5D=&amp;type%5Bblock%5D=0&amp;type%5Bpage%5D=1&amp;page=5"
                                    class="page_nav ">5</a><a
                                    href="/community/search?query=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;block=0&amp;blogcategory=0&amp;sort=0&amp;time=0&amp;starttime=&amp;endtime=&amp;type%5Bquery%5D=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;type%5Bblogcategory%5D=0&amp;type%5Bsort%5D=0&amp;type%5Btime%5D=0&amp;type%5Bstarttime%5D=&amp;type%5Bendtime%5D=&amp;type%5Bblock%5D=0&amp;type%5Bpage%5D=1&amp;page=6"
                                    class="page_nav ">6</a><span class="gap_next">...</span><a
                                    href="/community/search?query=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;block=0&amp;blogcategory=0&amp;sort=0&amp;time=0&amp;starttime=&amp;endtime=&amp;type%5Bquery%5D=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;type%5Bblogcategory%5D=0&amp;type%5Bsort%5D=0&amp;type%5Btime%5D=0&amp;type%5Bstarttime%5D=&amp;type%5Bendtime%5D=&amp;type%5Bblock%5D=0&amp;type%5Bpage%5D=1&amp;page=464"
                                    class="page_nav ">464</a><a
                                    href="/community/search?query=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;block=0&amp;blogcategory=0&amp;sort=0&amp;time=0&amp;starttime=&amp;endtime=&amp;type%5Bquery%5D=%25E4%25BB%2598%25E6%25AC%25BE%25E5%2590%2597&amp;type%5Bblogcategory%5D=0&amp;type%5Bsort%5D=0&amp;type%5Btime%5D=0&amp;type%5Bstarttime%5D=&amp;type%5Bendtime%5D=&amp;type%5Bblock%5D=0&amp;type%5Bpage%5D=1&amp;page=2"
                                    class="btn page_next" rel="next"><i class="arrow"></i></a></span><span
                                    class="goto_area"><input type="text" class="goto_area_input"><a
                                    href="javascript:void(0);" class="page_go">跳转</a></span></div>
                        </div>
                    </div>
                </div>
            </div><!----><!----><!----><!----></div>
    </div>
</div>
<div id="footer" class="foot blur_row page_full" check-reduce="">
    <ul class="links ft">
        <li class="links_item"><a href="http://www.tencent.com/zh-cn/index.shtml" target="_blank">关于腾讯</a></li>
        <li class="links_item"><a
                href="https://developers.weixin.qq.com/community/develop/doc/000e2cb63d8c28e6cf79d839b51809"
                target="_blank">运营规范</a></li>
        <li class="links_item"><a href="https://mp.weixin.qq.com/debug/wxadoc/dev/index.html"
                                  target="_blank">文档中心</a></li>
        <li class="links_item"><a
                href="http://mp.weixin.qq.com/cgi-bin/opshowpage?action=dispelinfo&amp;lang=zh_CN&amp;begin=1&amp;count=9"
                target="_blank">辟谣中心</a></li>
        <li class="links_item"><a href="http://kf.qq.com/product/wx_xcx.html" target="_blank">客服中心</a></li>
        <li class="links_item"><p class="copyright">Copyright © 2012-2021 Tencent. All Rights Reserved.</p></li>
    </ul>
</div><!---->
<div class="mod_get_page_top for_pc" check-reduce="" style="display: none;">
    <div class="get_page_top_inner"><i class="icon icon_page_top"></i></div>
</div>
